//////////////////////////////
// General Setting
//////////////////////////////

// import bulma
@import "plugins/bulma/bulma.sass"

//base
body
	box-sizing: border-box
	width: 100%
	height: 2000px
//////////////////////////////
// header
//////////////////////////////

.header
.header-bg
	background-image: url("../images/bossfight-free-high-stock-photos-sunrise-sunset-man-woman-lake-sea-ocean-water.jpg")
	background-size: cover
	background-position: center
	height: 100%
	position: fixed
	width: 100%
	top: 0
	left: 0

// navbar
.header__navbar
	background-color: inherit

.header__navbar-top
	position: fixed
	top: 0
	left: 0
	width: 100%
	z-index: 100


.header__navbar-top__menu
	position: absolute
	left: 50%
	transform: translateX(-50%)

.header__navbar-burger
	margin-right: auto

.header__navbar-top__nav-item
	color: rgba(41, 36, 36, 0.92)
	margin-right: 44px

.header__navbar-top__nav-item
	letter-spacing: 0.3px

.header__navbar-top__nav-item:last-child
	margin-right: 0

.navbar__hr-line
	bottom: 0
	border: 0
	margin: 0
	display: block
	position: absolute
	height: 3px
	width: 100%
	background-color: rgba(41, 36, 36, 0.92)


//////////////////////////////
// Main
//////////////////////////////

.main
	height: 100vh
	padding: 80px 0px

.header__navbar-main

.header__navbar-main__menu
	position: absolute
	left: 50%
	transform: translateX(-50%)

.header__navbar-logo-container
	align-items: center
	justify-content: center

.header__navbar-logo
	margin-right: auto
	margin-left: auto
	margin-top: 48px
	margin-bottom: 16px

.header__navbar-main__nav-item
	color: rgba(41, 36, 36, 0.92)
	margin-right: 44px
	letter-spacing: 0.2px

.header__navbar-main__nav-item:last-child
	margin-right: 0

//////////////////////////////
// Portfolio
//////////////////////////////

.portfolio.section
	background-color: #FFF

