//////////////////////////////
// General Setting
//////////////////////////////

// import bulma
@import "plugins/bulma/bulma.sass"

// base
*
	position: relative
	box-sizing: border-box
	font-family: Abel

body
	width: 100%
	height: 2000px


// basic TITLE & SUBTITLE

.shawn-setting___title.title

.shawn-setting___subtitle.subtitle
	margin-bottom: 1em

//////////////////////////////
// header
//////////////////////////////


.header-bg
	background-image: url("../images/Eddie/Header.png")
	background-size: cover
	background-position: center
	position: fixed
	top: 0
	left: 0
	width: 100%
	height: 100vh

.header
	position: fixed
	top: 0
	left: 0
	width: 100%
	background-color: inherit
	z-index: 100

// navbar
.header__navbar
	background-color: inherit

.header__navbar-top

.header__navbar-top__menu
	position: absolute
	left: 50%
	transform: translateX(-50%)

.header__navbar-burger
	margin-right: auto

.header__navbar-top__nav-item
	color: rgba(41, 36, 36, 0.92)
	margin-right: 44px

.header__navbar-top__nav-item
	letter-spacing: 0.3px

.header__navbar-top__nav-item:last-child
	margin-right: 0

.navbar__hr-line
	bottom: 0
	border: 0
	margin: 0
	display: block
	position: absolute
	height: 2px
	width: 100%
	background-color: rgba(41, 36, 36, 0.92)

.navbar__js-color
	background-color: #FFF
	width: 80px



//////////////////////////////
// Main
//////////////////////////////

.main
	height: 100vh
	padding: 80px 0px
	background-color: inherit

.header__navbar-main

.header__navbar-main__menu
	position: absolute
	left: 50%
	transform: translateX(-50%)

.header__navbar-logo-container
	align-items: center
	justify-content: center

.header__navbar-logo
	margin-right: auto
	margin-left: auto
	margin-top: 48px
	margin-bottom: 16px

.header__navbar-main__nav-item
	color: rgba(41, 36, 36, 0.92)
	margin-right: 44px
	letter-spacing: 0.2px

.header__navbar-main__nav-item:last-child
	margin-right: 0

//////////////////////////////
// Portfolio
//////////////////////////////

.portfolio.section
	background-color: #FFF

.portfolio__button-group.field
	margin-top: 4em
	margin-bottom: 4em

.portfolio__button-group.field .control:not(:last-child)
	margin-right: 2em

//////////////////////////////
// Service
//////////////////////////////

.service.section
	background-color: #fff

.service__notification.notification
	height: 100%

//////////////////////////////
// About
//////////////////////////////

.about.section
	background-color: #FFF

.about.section .tile.is-child
	height: 400px


//////////////////////////////
// Benefit
//////////////////////////////

.benefit.section
	background-color: #f0f5f9
	height: 80vh
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	align-items: center


//////////////////////////////
// feedback form
//////////////////////////////

.fillform.section
	background-color: #FFF
	height: 100vh
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	align-items: center

//////////////////////////////
// footer
//////////////////////////////

.footer.section
	background-color: #edf4f4

.footer.section .column > form
	margin-bottom: 1.5em

.footer.section .field.is-grouped.is-grouped-centered > .button:not(:last-child)
	margin-right: 1em

.footer__hr
	height: 2px
	border: solid 1.5px rgba(41, 36, 36, 0.92)
	margin-bottom: 1.5em